/* Кнопка */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

/* Инпут */


input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  outline: none;
}

