@import "tailwindcss";
@import "./_fonts.css";
@import "./_reset.css";
@import "./_scroll.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --flash-white: #f0f0f0;
  --light-silver: #d9d9d9;
  --green-400: #339b6f;
  --green-500: #00824b;
  --green-700: #005c35;
  --green-800: #004829;

  --scroll-thumb: rgba(0, 0, 0, 0.35);
  --scroll-thumb-hover: rgba(0, 0, 0, 0.55);
  --scroll-track: transparent;
  --scroll-width: 8px;
  --scroll-radius: 999px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-flash-white: var(--flash-white);
  --color-light-silver: var(--light-silver);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --padding-lg: 24px;

  --breakpoint-md: 640px;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --flash-white: #333335;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  margin: 0 auto;
  padding-left: var(--padding-lg);
  padding-right: var(--padding-lg);
  max-width: var(--breakpoint-md);
}

html,
body {
  height: 100%;
}
