@import "tailwindcss";
@import "./_fonts.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --flash-white: #f0f0f0;
  --light-silver: #d9d9d9;
  --green-500: #00824B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-flash-white: var(--flash-white);
  --color-light-silver: var(--light-silver);
  --color-green-500: var(--green-500);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --flash-white: #333335;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  margin-left: 24px;
  margin-right: 24px;
  max-width: 640px;
}


html, body {
  height: 100%;
}